{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="post-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="{% static 'images/default.jpg' %}" class="post-detail-image" alt="{{ post.title }}">
            </div>
        </div>
    </div>
</div>

<div class="container post-detail-container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <article class="post-content">
                <!-- Post title -->
                <h1 class="post-title">{{ post.title }}</h1>
                
                <!-- Post meta -->
                <div class="post-meta">
                    <span class="post-author">
                        <i class="fas fa-user"></i> {{ post.author }}
                    </span>
                    <span class="post-date">
                        <i class="far fa-calendar-alt"></i> {{ post.created_on|date:"F d, Y" }}
                    </span>
                </div>

                <hr class="post-divider">

                <!-- Post excerpt -->
                {% if post.excerpt %}
                <div class="post-excerpt">
                    <p><em>{{ post.excerpt }}</em></p>
                </div>
                {% endif %}

                <!-- Post content -->
                <div class="post-body">
                    {{ post.content | safe }}
                </div>

                <!-- Back to blog link -->
                <div class="back-link">
                    <a href="{% url 'home' %}" class="btn btn-outline-primary">
                        <i class="fas fa-arrow-left"></i> Back to Blog
                    </a>
                </div>
            </article>
        </div>
    </div>
</div>

<!-- Comments Section -->
<div class="container comments-section">
    <div class="row">
        <div class="col-12">
            <h2 class="section-title">
                <i class="far fa-comments"></i> Comments ({{ comment_count }})
            </h2>
        </div>
    </div>
    
    <div class="row">
        <!-- Existing Comments (Left Side) -->
        <div class="col-lg-6">
            {% for comment in comments %}
            <div class="comment-item">
                <div class="comment-header">
                    <strong>{{ comment.author }}</strong>
                    <span class="comment-date">{{ comment.created_on|date:"M d, Y, g:i a" }}</span>
                </div>
                <div class="comment-body" id="comment{{ comment.id }}">
                {{ comment.content }}
                </div>

                {% if not comment.approved %}
                <p class="comment-approval-notice">
                    <i class="fas fa-clock"></i> This comment is awaiting approval
                </p>
                {% endif %}
                {% if user.is_authenticated and comment.author == user %}
                <button type="button" class="btn btn-edit" data-comment-id="{{ comment.id }}" data-edit-url="{% url 'comment_edit' post.slug comment.id %}">Edit</button>


                {% endif %}
            </div>
            {% empty %}
            <p class="no-comments">No comments yet. Be the first to comment!</p>
            {% endfor %}
        </div>

        <!-- Comment Form (Right Side) -->
        <div class="col-lg-6">
            <h3 class="comment-form-title">
                <i class="fas fa-pen"></i> Leave a comment
            </h3>
            
            {% if user.is_authenticated %}
            <p class="posting-as">Posting as: <strong>{{ user.username }}</strong></p>
            
            <form id="commentForm" method="post" class="comment-form">
            {% csrf_token %}
            {{ comment_form|crispy }}
            <button id="submitButton" type="submit" class="btn btn-primary">
                <i class="fas fa-paper-plane"></i> Submit Comment
            </button>
            </form>
            {% else %}
            <div class="login-prompt">
                <p><i class="fas fa-info-circle"></i> Please <a href="{% url 'account_login' %}">log in</a> to leave a comment.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}