{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="post-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="{% static 'images/default.jpg' %}" class="post-detail-image" alt="{{ post.title }}">
            </div>
        </div>
    </div>
</div>

<div class="container post-detail-container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <article class="post-content">
                <!-- Post title -->
                <h1 class="post-title">{{ post.title }}</h1>
                
                <!-- Post meta -->
                <div class="post-meta">
                    <span class="post-author">
                        <i class="fas fa-user"></i> {{ post.author }}
                    </span>
                    <span class="post-date">
                        <i class="far fa-calendar-alt"></i> {{ post.created_on|date:"F d, Y" }}
                    </span>
                </div>

                <hr class="post-divider">

                <!-- Post excerpt -->
                {% if post.excerpt %}
                <div class="post-excerpt">
                    <p><em>{{ post.excerpt }}</em></p>
                </div>
                {% endif %}

                <!-- Post content -->
                <div class="post-body">
                    {{ post.content | safe }}
                </div>

                <!-- Back to blog link -->
                <div class="back-link">
                    <a href="{% url 'home' %}" class="btn btn-outline-primary">
                        <i class="fas fa-arrow-left"></i> Back to Blog
                    </a>
                </div>
            </article>
        </div>
    </div>
</div>

{% endblock content %}