{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="visually-hidden">HouseHunters Blog</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="{% static 'images/default.jpg' %}" width="75%" alt="illustration representing home search">
        </div>
        <div class="col-8">
            <!-- Title -->
            <h2> {{ about.title | default:"About HouseHunters" }} </h2>
            <!-- Content -->
            <p> {{ about.content|safe }} </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Updated on field -->
            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
      </div>
</div>
{% endblock content %}